.compat-table {
	margin-bottom: 30px;
}

.compat-table td {
	text-align: center;
}

.compat-table td:not([data-ignore]) {
	cursor: pointer;
}

.popover {
	max-width: 700px;
	min-width: 400px;
	cursor: auto;
}

.popover-content {
	display: none;
}

.popover-header {
	text-align: left;
	padding: 1rem 2rem;
	background-color: #222e39;
	border: none;
	color:#ffffff;
}

.popover-header::before {
	border-bottom: 1px solid #222e39 !important;
}


.popover .arrow:after {
	border-bottom-color: #222e39;
}

.popover-body {
	background-color: #445c72;
	color: #ffffff;
	padding: 1.5rem 2rem;
}

.popover-body .row {
	margin: 0 !important;
}

.popover-body .row:after {
	content: "";
	display: table;
	clear: both;
}

.popover-column {
	float: left;
	width: 50%;
}
.compat-title {
	font-size: 10px;
	color: #94c7ed;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding-left: 6px;
}

.icon {
	margin: 0.2em;
}

ul.compat-progress {
	list-style: none;
	padding-left: 2em;
	margin-bottom: 20px;
}

ul.compat-progress li {
	font-size: 12px;
	font-weight: 200;
	letter-spacing: 0.3;
	line-height: 20px;
}

ul.compat-progress span.bullet.icon {
	margin-left: -1.5em;
	margin-right: 1em;
}


.imp-list a {
	color: #ffffff;
	text-decoration: none;
	padding-right: 10px;
}

.imp-list span {
	margin-right: 10px;
	font-size: 10px;
}

/* Footer */
footer {
	margin-bottom: 20px;
}

/* Body & Container */
body {
	background-color:#f9f9f9 !important;
}
.container-fluid {
	padding:0 140px;
	margin-top: 55px;
}

/* GitHub Link */
.gh-link {
	float: right;
	color: #007bff;
	font-size: 14px;
}

.gh-link a {
	text-decoration: none;
}

.gh-link img {
	margin-left: 10px;
}

/* Nav */
ul.nav {
	margin-top:40px;
	border-bottom: none;
}

/* Table Balance */
.table {
	background-color: inherit;
}

.table td {
	height: 50px;
	max-height: 50px;
	max-width: 50px;
	vertical-align: middle;
	border-color: #ffffff;
}

.table th {
	vertical-align: middle;
	padding: 0;
}


.table thead th {
	vertical-align: middle;
	/* */
	width: 40px;
	max-width: 40px;
	min-width: 40px;
	text-align: center;
	padding: 8px;
	/*  */
}

.tab-pane {
	margin-bottom: 1em;
	padding: 60px 80px;
	background-color: #ffffff !important;
	border: 1px solid #dee2e6;
	border-bottom-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	min-width: 1200px;
}

.table thead tr:nth-child(2) th:first-child {
	border-right: 1px solid #dee2e6;
	border-bottom: 1px solid #dee2e6;
}

.table thead tr:nth-child(2) th {

	border-bottom: 1px solid #dee2e6;
}

.table thead tr th, .table tbody tr th {
	width: 52px;
	min-width: 52px;
	max-width: 60px;
}

.table tbody th {
	border-bottom: none;
	border-top: none;
}

/* Header Styles */
.page-title {
	font-size: 40pt;
	font-weight: 300;
	margin-bottom: 20px;
}
.page-subtext {
	font-size: 14pt;
	font-weight:300;
	color: #6d6e71;
	width: 50%;
	line-height: 28px;
}

.tab-title {
	font-size: 21px;
	font-weight: 200;
	letter-spacing: .3px;
	margin-bottom: 10px;
}

.tab-subtext {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 30px;
}

.table thead tr:first-of-type {
	background-color: #222e39;
}

.table th {
	font-size: 11px;
	font-weight: 300;
	text-align: center;
}

.table tr:nth-child(2) th {
	border: none;
}

/* .table th:hover {
	text-decoration: underline;
	font-weight:700;
}
 */

 .table thead tr:nth-child(2){
	 height: 20px !important;
 }

.table thead tr:first-of-type th {
	padding: 0px;
	padding-left: 20px;
	height: 30px;
	max-height: 30px;
}

	/* Select first table row with the 2nd table header child "Currencies" (colspan ~17) */
.table thead tr:first-of-type th:first-child + th {
	text-align: left;
	color: #ffffff;
	font-size: 11px;
	padding-left: 10px;
}
.table thead tr:first-of-type th:first-child + th + th {
	text-align: left;
	color: #ffffff;
	font-size: 11px;
	width: 10%;
	padding-left: 10px;
}
/* Table Key */
.key {
	font-size: 12px;
	color: #6d6e71;
	letter-spacing: .4px;
	margin-bottom: 30px;
}
.key span {
	margin-right: 30px;
}
.key-swatch {
	display: inline-block;
	vertical-align: middle;
	height: 25px;
	width: 25px;
	min-height: 25px;
	min-width: 25px;
	margin-right: 15px;
}

.key span .key-swatch:nth-child(2), .key span .key-swatch:nth-child(3){
	margin-left: 20px;
}

.sponsor {
	display: block;
	float: right;
	margin-top: 10px;
}

.sponsor a {
	text-decoration: none;
}

.sponsor-text {
	font-size: 7pt;
	color: #a7a9ac;
	text-transform: uppercase;
	letter-spacing: 0.4;
	padding-bottom: 8px;
}

.sponsor img {
	margin-bottom: 30px;
}

/* Styles for Color Palette */

.bg-success, .bg-warning, .bg-danger {

}

.bg-warning, .bg-danger {
	font-size: 10px;
	font-weight: 300;
}

.bg-success {
	color: #58595b;
	font-weight: 600;
	font-size: 11px;
}

.bg-warning {
	color: #ffffff;
}

.bg-danger {
	color: #d1d3d4;
}

td.bg-secondary {
	background-image: linear-gradient(white, white);
}

td.bg-success, .key-success {
	background-color: #8dffa5 !important;
}

td.bg-warning, .key-warning {
	background-color: #98c7e5 !important;
}

td.bg-danger, .key-danger {
	background-color: #f1f2f2 !important;
}

.oi-check {
	color: #59d64c;
}

.oi-x {
	color: #a7a9ac;
}